<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>guanbianniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,692},{119,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,87}</string>
			</dict>
			<key>jrfj_bg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{615,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,597}</string>
			</dict>
			<key>jrfj_wx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,0},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,209},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,95},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,95},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,190},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,285},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,304},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,380},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,399},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,475},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_wx_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,494},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,570},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,589},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,665},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,597},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,597},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,597},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,597},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,684},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,760},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,760},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,692},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>jrfj_xz_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,786},{189,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,95}</string>
			</dict>
			<key>shuzidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,0},{50,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,4}</string>
			</dict>
			<key>wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,0},{209,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>JoinRoom.png</string>
			<key>realTextureFileName</key>
			<string>JoinRoom.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>